<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>initDB</display-name>
    <servlet-name>initDB</servlet-name>
    <servlet-class>user.web.servlet.initDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initDB</servlet-name>
    <url-pattern>/initDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assign</display-name>
    <servlet-name>assign</servlet-name>
    <servlet-class>user.web.servlet.assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assign</servlet-name>
    <url-pattern>/assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertpcmem</display-name>
    <servlet-name>insertpcmem</servlet-name>
    <servlet-class>user.web.servlet.insertpcmem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertpcmem</servlet-name>
    <url-pattern>/insertpcmem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepcmem</display-name>
    <servlet-name>updatepcmem</servlet-name>
    <servlet-class>user.web.servlet.updatepcmem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepcmem</servlet-name>
    <url-pattern>/updatepcmem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatereview</display-name>
    <servlet-name>updatereview</servlet-name>
    <servlet-class>user.web.servlet.updatereview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatereview</servlet-name>
    <url-pattern>/updatereview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertreview</display-name>
    <servlet-name>insertreview</servlet-name>
    <servlet-class>user.web.servlet.insertreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertreview</servlet-name>
    <url-pattern>/insertreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletereview</display-name>
    <servlet-name>deletereview</servlet-name>
    <servlet-class>user.web.servlet.deletereview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletereview</servlet-name>
    <url-pattern>/deletereview</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>deletepcmem</display-name>
    <servlet-name>deletepcmem</servlet-name>
    <servlet-class>user.web.servlet.deletepcmem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepcmem</servlet-name>
    <url-pattern>/deletepcmem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertpaper</display-name>
    <servlet-name>insertpaper</servlet-name>
    <servlet-class>user.web.servlet.insertpaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertpaper</servlet-name>
    <url-pattern>/insertpaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepaper</display-name>
    <servlet-name>updatepaper</servlet-name>
    <servlet-class>user.web.servlet.updatepaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepaper</servlet-name>
    <url-pattern>/updatepaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepaper</display-name>
    <servlet-name>deletepaper</servlet-name>
    <servlet-class>user.web.servlet.deletepaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepaper</servlet-name>
    <url-pattern>/deletepaper</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>